<%= form_for(@account) do |f| %>
    <% if @account.errors.any? %>
        <div id="error_explanation" class="callout warning">
            <h4><%= pluralize(@account.errors.count, "error") %></h4>
            <ul>
                <% @account.errors.full_messages.each do |msg| %>
                    <li><%= msg %></li>
                <% end %>
            </ul>
        </div>
    <% end %>
    <div>
        <p><%= f.label :Site %></p>
        <p><%= f.text_field :site %></p>
    </div>
    <div>
        <p><%= f.label :Mail %></p>
        <p><%= f.email_field :mail %></p>
    </div>
    <div>
        <p><%= f.label :Password %></p>
        <p><%= f.text_field :pass %></p>
    </div>
    <div>
        <p><%= f.label 'Password confirmation' %></p>
        <p><%= f.text_field :pass_confirmation %></p>
    </div>
    <%= f.submit button, class: 'success button' %>
<% end %>
<%= link_to 'Back', accounts_path %>
