<h1>Manage ID & Password</h1>

<%= button_to 'New', new_account_path, method: :get, class: 'button small' %>

<table>
    <tr>
        <th>Site</th>
        <th>Mail Address</th>
        <th>Password</th>
    </tr>
    <% @accounts.each do |account| %>
    <tr>
        <td><%= account.site %></td>
        <td><%= account.mail %></td>
        <td><%= account.pass %></td>
        <td><%= button_to 'Show', account_path(account), method: :get, class: 'hollow button small' %></td>
        <td><%= button_to 'Edit', edit_account_path(account), method: :get, class: 'hollow button secondary small' %></td>
        <td><%= button_to 'Delete', account_path(account), method: :delete, data: { confirm: 'Are you sure?' }, class: 'hollow button alert small' %></td>
    </tr>
    <% end %>
</table>
