<h1>Register new Mail & Password</h1>

<%= form_for(@account, url: accounts_path) do |f| %>
    <div>
        <p><%= f.label :Site %></p>
        <p><%= f.text_field :site %></p>
    </div>
    <div>
        <p><%= f.label :Mail %></p>
        <p><%= f.text_field :mail %></p>
    </div>
    <div>
        <p><%= f.label :Password %></p>
        <p><%= f.text_field :pass %></p>
    </div>
    <%= f.submit :Add %>
<% end %>
