<h1>Account Detail</h1>

<table>
    <tr>
        <th>Site</th>
        <td><%= @account.site %></td>
    </tr>
    <tr>
        <th>Mail Address</th>
        <td><%= @account.mail %></td>
    </tr>
    <tr>
        <th>Password</th>
        <td><%= @account.pass %></td>
    </tr>
</table>

<p>
<%= link_to 'Edit', edit_account_path(@account) %> |
<%= link_to 'Delete', account_path(@account), method: :delete, data: { confirm: 'Are you sure?' } %>
</p>
<%= link_to 'Back', accounts_path %>
