<h1>Account Detail</h1>

<table>
    <tr>
        <th>Site</th>
        <td><%= @account.site %></td>
    </tr>
    <tr>
        <th>Mail Address</th>
        <td><%= @account.mail %></td>
    </tr>
    <tr>
        <th>Password</th>
        <td><%= @account.pass %></td>
    </tr>
</table>

<div class="row">
    <div class="large-2 medium-2 small-4 columns text-center">
        <div class="row">
            <%= link_to 'Edit', edit_account_path(@account), class: 'large-4 medium-4 small-4 columns' %>
            <div class="large-1 medium-1 small-1 columns"></div>
            <%= link_to 'Delete', account_path(@account), method: :delete, data: { confirm: 'Are you sure?' }, class: 'large-4 medium-4 small-4 columns' %>
        </div>
        <div class="row">
            <%= link_to 'Back', accounts_path, class: "large-4 medium-4 small-4 columns" %>
        </div>
    </div>
</div>
